/*
Colours used:
Primary colour - unvisted links: (Coral): #ff5757
Secondary colour (Grey): 2b2d42
Hover colour (Bright turquiose):6dd6da
Visited links (Dark turquiose): 395e66
*/
img {
  width: 100%;
}
body {
  background-color: #ffffff;
  font-family: 'Comfortaa', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-family: 'Asar';
  font-size: 2.00em;
  font-weight: 700;
}

h2 {
font-family: 'Asar';
  font-size: 1.75em;
  font-weight: 400;
}

h3 {
  font-family: 'Asar';
  font-size: 1.25em;
  font-weight: 400;
}
h4 {
  font-family: 'Asar';
  font-size: 1.05em;
  font-weight: 300;
}

a {
  color: #2b2d42;
  text-decoration: none;
}
a:visited {
      color: #395e66;
}
a:hover,
a:focus {
  color: #ff5757;
    text-decoration: underline;
}
a:active {
  color: #395e66;
}
  .button {
  display: inline-block;
  background-color: #ff5757;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #ffffff;
  transition: 0.2s opacity;
}
  .button:hover {
  display: inline-block;
  background-color: #ff5757;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #ffffff;
  transition: 0.2s opacity;0.8;
  text-decoration: underline;
}
  .button:active {
  display: inline-block;
  background-color: #ff7f50;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
  text-decoration: none;
}
  .button.contact {
  background-color: transparent;
  color: #ff5757;
  text-transform: uppercase;
  border: 2px solid #ff5757;
}
.button.contact:hover {
  background-color: #ff5757;
  color: #ffffff;
}
.button.contact:active {
  background-color: #ff7f50;
  color: #ffffff;
}
.button.resume {
background-color: transparent;
color: #ff5757;
text-transform: uppercase;
border: 2px solid #ff5757;
}
.button.resume:hover {
background-color: #ff5757;
color: #ffffff;
}
.button.resume:active {
background-color: #ff7f50;
color: #ffffff;
}
